li {
color: #2e2e2e;
font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

h2 {
    color: #2e2e2e;
}

body {
    background-color: #eaeaea;
}

nav {
  background-color: #2e2e2e;
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  color: #eaeaea;
}





